<link rel="stylesheet" href="/css/indexproduct.css">
<div class="span9">
    <ul class="breadcrumb">
    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
    <li><a href="products.html">Products</a> <span class="divider">/</span></li>
    <li class="active">{{item.nameproduct}}</li>
    </ul>	
	<div class="row">	  
			<div id="gallery" class="span3">
            <li class="span4">
          <a href="#" class="thumbnail">
            <img src="{{item.avatarproduct}}" alt="" class="avatarproduct">
          </a>
        </li>
			<div id="differentview" class="moreOptopm carousel slide">
                <div class="carousel-inner">
                  <div class="item active">
                   <a href="http://placehold.it/160x120"> <img style="width:29%" src="http://placehold.it/160x120" alt=""/></a>
                   <a href="http://placehold.it/160x120"> <img style="width:29%" src="http://placehold.it/160x120" alt=""/></a>
                   <a href="http://placehold.it/160x120" > <img style="width:29%" src="http://placehold.it/160x120" alt=""/></a>
                  </div>
                  <div class="item">
                   <a href="themes/images/products/large/f3.jpg" > <img style="width:29%" src="themes/images/products/large/f3.jpg" alt=""/></a>
                   <a href="themes/images/products/large/f1.jpg"> <img style="width:29%" src="themes/images/products/large/f1.jpg" alt=""/></a>
                   <a href="themes/images/products/large/f2.jpg"> <img style="width:29%" src="themes/images/products/large/f2.jpg" alt=""/></a>
                  </div>
                </div>
              <!--  
			  <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a> 
			  -->
              </div>
			  
			 <div class="btn-toolbar">
			  <div class="btn-group">
				<span class="btn"><i class="icon-envelope"></i></span>
				<span class="btn" ><i class="icon-print"></i></span>
				<span class="btn" ><i class="icon-zoom-in"></i></span>
				<span class="btn" ><i class="icon-star"></i></span>
				<span class="btn" ><i class=" icon-thumbs-up"></i></span>
				<span class="btn" ><i class="icon-thumbs-down"></i></span>
			  </div>
			</div>
			</div>
			<div class="span6">
				<h3>{{item.nameproduct}}  </h3>
				<small>- (14MP, 18x Optical Zoom) 3-inch LCD</small>
				<hr class="soft"/>
				<form class="form-horizontal qtyFrm" action="/pushstock" method="post" >
				  <div class="control-group">
					<label class="control-label"><span>{{item.priceproduct}}</span></label>
					<input type="text" value="{{item._id}}" name="id" class="displaynone">
					<div class="controls">
					<input type="number" class="span1" placeholder=" Số lượng hiện có  {{item.amountproduct}}"/>
                     <button type="submit" class="btn btn-large btn-primary pull-right"> thêm vào kho <i class=" icon-shopping-cart"></i></button>
					  <a href="/product/{{item.url}}/thanhtoan" class="btn btn-large btn-primary pull-right"> Thanh toán <i class=" icon-shopping-cart"></i></a>
					</div>
				  </div>
				</form>
				
				<hr class="soft"/>
				<h4>{{item.amountproduct}} Sản phẩm trong hàng</h4>
				<form class="form-horizontal qtyFrm pull-right">
				  <div class="control-group">
					<label class="control-label"><span>Color</span></label>
					<div class="controls">
					  <select class="span2">
						  <option>Black</option>
						  <option>Red</option>
						  <option>Blue</option>
						  <option>Brown</option>
						</select>
					</div>
				  </div>
				</form>
				<hr class="soft clr"/>
				<p>
				14 Megapixels. 18.0 x Optical Zoom. 3.0-inch LCD Screen. Full HD photos and 1280 x 720p HD movie capture. ISO sensitivity ISO6400 at reduced resolution. 
				Tracking Auto Focus. Motion Panorama Mode. Face Detection technology with Blink detection and Smile and shoot mode. 4 x AA batteries not included. WxDxH 110.2 ×81.4x73.4mm. 
				Weight 0.341kg (excluding battery and memory card). Weight 0.437kg (including battery and memory card).
				
				</p>
				<a class="btn btn-small pull-right" href="#detail">More Details</a>
				<br class="clr"/>
			<a href="#" name="detail"></a>
			<hr class="soft"/>
			</div>
			
			<div class="span9">
            <ul id="productDetail" class="nav nav-tabs">
              <li class="active"><a href="#home" data-toggle="tab">Product Details</a></li>
              <li><a href="#profile" data-toggle="tab">Related Products</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade active in" id="home">
			  <h4>Product Information</h4>
                <table class="table table-bordered">
				<tbody>
				<tr class="techSpecRow"><th colspan="2">Product Details</th></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Brand: </td><td class="techSpecTD2">Fujifilm</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Model:</td><td class="techSpecTD2">FinePix S2950HD</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Released on:</td><td class="techSpecTD2"> 2011-01-28</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Dimensions:</td><td class="techSpecTD2"> 5.50" h x 5.50" w x 2.00" l, .75 pounds</td></tr>
				<tr class="techSpecRow"><td class="techSpecTD1">Display size:</td><td class="techSpecTD2">3</td></tr>
				</tbody>
				</table>
				<div class="allcmt">
				<h5>Binh Luận Sản Phẩm</h5>
				<form action="/binhluan" method="post">
				<div class="cmtavatar displayflex">
					<img src="{{iteml.avatar}}" alt="avatar" name="avatar" >
					<p>{{iteml.FirstName}} {{iteml.LastName}}<br>
					<textarea class="input-xxlarge" id="textarea1" rows="3" name="CMT"></textarea>
					  <input value="Binh Luận" type="submit">
					<input type="text" value="{{item.url}}" class="display" name="url">
				</p>
				</div>
				</form>
				<div class="binhluan">
				 {{#each array}}
   <div class="cmtavatar thumbnail cmtavatar-s">
	   <div class="cmtavatar-img">
<img src="{{this.src}}" alt="avatar">
	   </div>
	   <div class="cmtavatar-content">
					<p>{{this.Name}} <br>
					<span>{{this.binhluan}}</span>
				</p> 
				</div>
  {{/each}}
				</div>	
				</div>
				</div>
</div>
<div class="tatcabinhluan">
	{{#each array}}
	<div class="cmtavatar thumbnail">
	   <div class="cmtavatar-img">
<img src="{{this.src}}" alt="avatar">
	   </div>
	   <div class="cmtavatar-content">
					<p>{{this.Name}} <br>
					<span>{{this.binhluan}}</span>
				</p> 
				</div>
				</div>
   
  {{/each}}

</div>
<script>
	 $(document).ready(function() {
    $('form').submit(function(event) {
        $.ajax({
            method: $(this).attr('method'),
            url: $(this).attr('action'),
            data: $(this).serialize(),
            // other AJAX settings goes here
            // ..
        }).done(function(response) {
			console.log(response)
            // Process the response here
			alert("Đã Thêm Binh Luận")
        });
        event.preventDefault(); // <- avoid reloading
   });
});
</script>	
<input type="button" value="đóng binh luận" class="offcmt">
</div>
<a class="sendcmt">Xem Tất Cả Binh luận</a>
			</div>
			
</div>
<script>
	document.querySelector('.sendcmt').onclick = function() {
		document.querySelector('.tatcabinhluan').style.display = "block";
	}
	document.querySelector('.offcmt').onclick = function() {
		document.querySelector('.tatcabinhluan').style.display = "none";
	}
		document.querySelector('.binhluan').onclick = function() {
		alert('đã binh luân thành công')
	}
</script>
